
venv/pyvenv.cfg
venv/Scripts/activate
venv/Scripts/activate.bat
venv/Scripts/Activate.ps1
venv/Scripts/deactivate.bat
venv/Scripts/python.exe
venv/Scripts/pythonw.exe
*.JPG
Experiments/vincent.ipynb
*.xml
*.pyc
*.pyc
*.ipynb
Experiments/experiments.py
